.*.swp
node_modules
.log
yarn.lock
package-lock.json
*.log
test-results.xml
merged-test-results.xml
.idea
.nyc_output
coverage
.gh-pages-tmp

packages/core/lib
packages/gui/lib
packages/task-manager/lib
packages/business-object-history/.sequelizerc
