.oc-fsm-crud-editor--table {

}

.oc-fsm-crud-editor--table td,
.oc-fsm-crud-editor--table th {
  vertical-align: middle !important
}

.oc-fsm-crud-editor--workflow-editor__page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.oc-fsm-crud-editor--workflow-editor__top-form {
  margin-bottom: 24px;
}

.oc-fsm-crud-editor--workflow-editor__page-header-text {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.oc-fsm-crud-editor--panel {
  border-top: none !important;
}

.oc-fsm-crud-editor--workflow-editor__tab {
  overflow: auto;
  border: 1px solid #ddd;
}

.oc-fsm-crud-editor--modal {

}

.oc-fsm-crud-editor--modal--large {
  width: auto;
  max-width: 1200px;
}

.oc-fsm-crud-editor--modal-heading.with-padding {
  padding: 10px 0 10px
}

.oc-fsm-crud-editor--modal-heading .output-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.oc-fsm-crud-editor--modal-heading .output-heading .right-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 100px;
  justify-content: space-between;
}
