.oc-fsm-crud-editor--workflow-graph {
  background-size: 10px 10px;
  background-image: radial-gradient(circle, #e5e5e5 1px, #fff 1px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.oc-fsm-crud-editor--workflow-graph {

}

.oc-fsm-crud-editor--workflow-graph text {
  fill: #333;
}

.oc-fsm-crud-editor--workflow-graph .node text {
  fill: #fff;
}
