.oc-fsm-crud-editor--workflow-graph {
}

.oc-fsm-crud-editor--workflow-graph__svg {
  overflow: auto;
  padding: 8px;
}

.oc-fsm-crud-editor--workflow-graph text {
  fill: #333;
}

.oc-fsm-crud-editor--workflow-graph .node text {
  fill: #fff;
}

.oc-fsm-crud-editor--workflow-graph__legend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}


.oc-fsm-crud-editor--workflow-graph__legend-item {
  display: inline-flex;
  align-items: center;
}

.oc-fsm-crud-editor--workflow-graph__legend-item-badge {
  width: 18px;
  height: 12px;
  border-radius: 4px;
  margin-right: 4px;
}

.oc-fsm-crud-editor--workflow-graph__legend-item-badge--regular-state {
  background: #0277bd;
}

.oc-fsm-crud-editor--workflow-graph__legend-item-badge--initial-state {
  background: #14892c;
}

.oc-fsm-crud-editor--workflow-graph__legend-item-badge--final-state {
  background: #b71c1c;
}

[id^=oc-fsm--graph__node--]:hover {
  cursor: pointer;
}
