.notification-error {
  color: #333;
  background-color: #fdf7f7;
  border-left: 3px solid #eed3d7;
  box-shadow: none;
}

.notification-error:before {
  content: "";
}

.notification-success {
  background-color: #f4f8fa;
  color: black;
  border-left: 3px solid #bce8f1;
  box-shadow: none;
}

.notification-success:before {
  content: "";
}

.notification {
  padding: 15px 0 15px 15px;
}

.message-error {
  color: red;
}